 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 body{
    font-family: "Gabarito", sans-serif;
 }
        /* NAVBAR */
.navbar{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__name{
    color: #A436F1;
    font-weight: 600;
    padding-left: 10PX;
}
.navbar__s2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 60%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

        /* CATEGORIES */
.categories{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 10px;
    gap: 2px;
}
.categories p {
    background-color:#A436F1; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    background-color: white;
    border: 2px solid black;
    width: 150px;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 150%;
    right: 0%;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
        /* IMAGE SECTION */
.image-sec{
    height: 450px;
    position: relative;
    width: 100%;
}
.image-sec img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.image-sec__offer-box{
    width: 33%;
    border: 2px solid black;
     background-color: white;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.image-sec__offer-box h3{
    margin-bottom: 10px;
}

        /* RECOMMENDATION SECTION */
.recommend{
    padding: 20px;
}
.recommend__title{
    margin-bottom: 10px;
}
.recommend__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.course-card{
    width: 215px;
    margin-top:20px;
}
.course-card img{
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
    object-fit: cover;
}
.course-card p{
    margin-top: 10px;
}
.course-card__author{
    color: rgb(117, 110, 110);
    font-size: 14px;
}
.course-card__rating{
    color: #C4710D;
}
.course-card__rating span{
    color: rgb(117, 110, 110);
    font-size: 14px;
}

        /* TOPICS */
.topic{
    padding: 20px;
}
.topic__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}
.topic__content p{
    border: 2px solid black;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

        /* FOOTER */
.footer{
    background-color: black;
    color: white;
    padding: 30px 50px;
}
.footer p{
    margin-top: 20px;
}
.footer-one{
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
}
.footer-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}